@media only screen and (max-width: 800px) {
    * {
        padding: 0;
        margin: 0;
    }
    table {
        width: 90%;
    }
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .navbar {
        background-color: black;
        display: block;
        margin-top: 0;
    }
    .navbar .but:active,
    .but:hover .dropdown-content {
        display: block;
        z-index: 3;
    }
    .phone {
        display: block!important;
    }
    .navbar .but:active,
    .but:hover .dropdown-content {
        display: block;
        z-index: 3;
    }
    .dropdown-content a {
        color: white;
    }
    .navbar .home,
    .reg {
        display: none;
    }
    /* footer */
    footer .footer-click {
        display: none;
    }
    footer a {
        margin: 0;
        padding: 0;
    }
    footer img {
        padding: 0 10px !important;
        margin: 0 10px!important;
        float: left;
        position: initial;
        display: block!important;
        margin: 40px;
        width: 40px!important;
    }
}